<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post: {{ post.pk}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body class="bg-light">
    <div class="container mt-5">
        <h1 class="text-center mb-4">Editing Blog Post: {{ post.title }}</h1>
    <form action="{% url 'edit_post' post.pk %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
        <input type="text" class="form-control"  placeholder="Enter the title of your post" name="title" value="{{ post.title }}" required autofocus>
        </div>
        <div class="form-group">
        <textarea name="content" class="form-control" placeholder="What do you want to say" required>{{ post.content }}</textarea>
        </div>
        <div class="form-group">
        <input type="text" class="form-control"  placeholder="Enter your name" name="author_name" value="{{ post.author.username }}" required>
        </div>
        <div class="form-group">
        <input type="submit" class="btn btn-primary btn-block" value="Save changes">
        </div>
    </form>
</body>
</html>