<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All blog posts</title>
</head>
<body>
    <h1>All blog posts</h1>
    <a href="{% url 'add_post' %}">Add New Post</a>

    <ul>
        {% for post in posts %}
        <li>
            <h2><a href="{% url 'post_detail' post.pk %}">{{post.title}}</a></h2><a href="{% url 'edit_post' post.pk %}">Edit</a>

            <p>By: {{post.author}} <br> At: {{post.created_at}} </p>
            <p>{{post.content}}</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>